<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Financial Times</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"
	      href="https://origami-build.ft.com/v2/bundles/css?modules=o-grid@^4.0.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//www.ft.com/__origami/service/build/v2/bundles/css?modules=o-fonts@^3" />
  </head>
  <body>

    <header>
      <%- include ./partials/_header.ejs %>
    </header>

    <div class="container">
      <div class="articles-container">
        <% if (articles != undefined) { %>
          <% articles.forEach(function(article, i) { %>
            <div class=article>
              <div class="article-title" id=<%= `article-${i}` %>>
                <a href=<%= article.location.uri %>> <%= article.title.title %> </a>
              </div>
              <div class="article-summary">
                <%= article.summary.excerpt %>
              </div>
            </div>
          <% }); %>
        <% }  else { %>
          <div class="no-results-message"> No matching results. Please try another search </div>
        <% } %>
      </div>
    </div>

    <footer>
      <%- include ./partials/_footer.ejs %>
    <footer>
</body>
</html>
